<div style="padding: 20px;">
  {{#if flashMessage}}
    <div class="ui success message">
      <i class="close icon"></i>
      <div class="header">
        Your user registration was successful.
      </div>
      <p>{{flashMessage}}</p>
    </div>
  {{/if}}

  <h2>Profile</h2>
  <form class="ui form" method="post" {{action "update" on="submit"}}>
    <div class="ui grid">
      <div class="four wide column">
        <h3>
          Avatar
        </h3>
      </div>
      <div class="twelve wide column">
        <div class="avatar-image-wrap">
          <div class="avatar-image-preview">
            <img class="ui small rounded image" src="{{src}}" >
          </div>
          <div class="avatar-image-control">
            <div class="field">
              <button class="ui basic button" {{action "browseFile"}}>Browse file...</button>
            </div>
            <div class="field">
              <p>{{avatarFileName}}</p>
            </div>
            <input type="file" id="avatar" name="avatar" onchange={{action "preview"}} value={{avatar}}>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <h3>
          Main settings
        </h3>
      </div>
      <div class="twelve wide column">
        <div class="field">
          <label>Name</label>
          {{input type="text" value=user.name id="name"}}
        </div>
        <div class="field">
          <label>Email</label>
          {{input type="email" value=user.email}}
        </div>
        <div class="field">
          <label>Bio</label>
          {{textarea value=user.bio rows="6"}}
        </div>
        <button class="ui primary button" type="submit">Update Profile</button>
      </div>
    </div>

  </form>
</div>
