{{#infinite-scroller-extend
  id="chat"
  isReverse=true
  class="message-list ui comments"
  on-load-more=(action 'loadMore')
  trigger-at="10%"
  scroll-debounce="1500"
  as |scroller|}}
  {{#if scroller.isLoading}}
    <div class="ui active centered inline loader"></div>
  {{/if}}
  {{#each messages as |message|}}
    {{message-item message=message}}
  {{/each}}
{{/infinite-scroller-extend}}

{{#if session.isAuthenticated}}
<div class="chat-form">
  <form class="ui reply form">
    <div class="field">
      <textarea id="message" rows={{messageRows}}
         placeholder="Message [Ctrl+Enter: Submit]"
         oninput={{action "growRows"}}
         onkeydown={{action "inputMessage"}}
         ></textarea>
    </div>
  </form>
</div>
{{/if}}
