<div class="ui large top fixed inverted menu header-bar">
  <div class="right menu">
    {{#if session.isAuthenticated}}
      {{#link-to 'settings.profile' class="ui item"}}
        {{session.data.authenticated.user.name}}
      {{/link-to}}
      <a {{action 'invalidateSession'}} class="ui item">Logout</a>
    {{else}}
      {{#link-to 'users/new' class="ui item"}}
        Sign Up
      {{/link-to}}
      {{#link-to 'login' class="ui item"}}
        Login
      {{/link-to}}
    {{/if}}
  </div>
</div>
