<div class="issue-list">
  <div class="ui middle aligned divided list issue-header">
    <div class="item">
      <div class="left floated content">
        <h2 class="ui header">Issues</h2>
      </div>
      <div class="right floated content">
        {{#link-to 'issues.new' class="tiny ui basic button positive"}}
          <i class="icon plus"></i>
          Add
        {{/link-to}}
      </div>
    </div>
  </div>

  <div class="ui middle aligned divided list issue-body">
    {{#each issues as |issue|}}
      {{#link-to 'issues.detail' issue class='item'}}
        <div class="content">
          <div class="header">{{issue.subject}} - {{issue.user.name}}</div>
          <div class="description">{{issue.description}}</div>
        </div>
      {{/link-to}}
    {{/each}}
  </div>
</div>
