<div class="ui secondary vertical pointing menu icon labeled">
  {{#link-to 'dashboard' class="item"}}
    <i class="comments outline icon"></i>
    Chat
  {{/link-to}}
  <a href="#" class="item" onclick={{action 'toggleIssues'}}>
    <i class="browser icon"></i>
    Issues
  </a>
</div>
