<div class="comment">
  <a class="avatar">
    {{avatar-icon user=message.user}}
  </a>
  <div class="content">
    {{#link-to "profile.index" item.account class="author"}}
      {{item.name}}&nbsp;<span class="account-name">@{{item.account}}</span>
    {{/link-to}}
    <div class="metadata">
      {{format-date date=item.created_at format='YYYY-MM-DD hh:mm'}}
    </div>
    <div class="text">
      {{{item.body}}}
    </div>
  </div>
</div>
