<div style="padding: 20px;">
  <h2>Profile</h2>
  <div class="ui grid">
    <div class="four wide column">
      <h3>Avatar</h3>
    </div>
    <div class="twelve wide column">
      <div class="avatar-image-wrap">
        <div class="avatar-image-preview">
          {{avatar-icon user=model class="ui small rounded image"}}
        </div>
      </div>
    </div>
    <div class="four wide column">
      <h3>Account</h3>
    </div>
    <div class="twelve wide column">
      @{{model.account}}
    </div>
    <div class="four wide column">
      <h3>Name</h3>
    </div>
    <div class="twelve wide column">
      {{model.name}}
    </div>
    <div class="four wide column">
      <h3>Email</h3>
    </div>
    <div class="twelve wide column">
      {{model.email}}
    </div>
    <div class="four wide column">
      <h3>Bio</h3>
    </div>
    <div class="twelve wide column">
      {{{h model.bio}}}
    </div>
  </div>

</div>
