body > .ember-view {
  height: 100%;
}

#wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100%;
  padding-top: 43px;
}

.secondry-menu {
  flex: 0 0 auto;
  border-width: 0 2px 0 0;
  border-style: solid;
  border-color: rgba(34, 36, 38, 0.15);
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

/*
 * chat-app
 */
.chat-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
  .ui.comments.message-list {
    width: 100%;
    max-width: 100%;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    overflow-y: scroll;
    padding: 0 30px;
    margin-bottom: 0;
  }

  .chat-form {
    position: relative;
    flex-shrink: 0;
    min-height: 70px;
  }
  .chat-form .ui.reply.form .field {
    padding: 0 20px;
  }
  #message {
    border-width: 2px;
  }
  .ui.comments .comment .avatar {
    width: 3em;
  }

.ui.accordion .content {
  position: absolute;
  border-radius: 0px 0px 5px 5px;
  right: 2px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px;
  z-index: 999;
}

.ui.mini.vertical.menu {
  width: 7rem;
}

.ui.secondary.vertical.pointing.menu {
  border-width: 0;
}

.ui.secondary.vertical.pointing.menu .item {
  color: #666;
}
.ui.secondary.vertical.pointing.menu .active.item {
  border-style: solid;
  border-width: 0 0 0 5px;
  border-color: rgba(15, 99, 183, 0.75);
}

.signin {
  margin: 30px auto;
  padding: 40px;
  max-width: 400px;
  width: 100%;
  border: 1px solid #dae1e3;
  background: #f8fbfd;
  border-radius: 5px;
  text-align: left;
  position: absolute;
  top: auto;
  bottom: auto;
  left: 0;
  right: 0;
}

.header-bar {
  background-color: #d9e778;
}

.issue-list-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.issue-list {
  width: 280px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.issue-header {
  flex-shrink: 0;
}
.issue-body {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: scroll;
  height: 100%;
  position: relative;
}
.ui.issue-list .item,
.ui.issue-list .item:first-child {
  padding: 10px;
}

.issue-list > .item.active {
  background-color: #eee;
}

.ui.comments .comment .text {
  font-size: inherit;
}
.ui.comments .comment .text pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

#avatar {
  display: none;
}
.avatar-image-wrap {
  display: flex;
  flex-direction: row;
}
.avatar-image-preview {
  margin-right: 20px;
}

.author .account-name {
  font-weight: normal;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.4);
}

/**
 * loader
 */
.ui.centered.inline.loader.active {
  margin: 20px;
}
