<div class="signin">
  {{#if errorMessage}}
    <div class="ui warning message">
      <i class="close icon"></i>
      {{errorMessage}}
    </div>
  {{/if}}
  <form class="ui form" method="post" {{action "create" on="submit"}}>
    <div class="field">
      <div class="ui left icon input">
        {{input type="text" value=account placeholder="Account Name"}}
        <i class="at icon"></i>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        {{input type="text" value=name placeholder="Your Name"}}
        <i class="user icon"></i>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        {{input type="email" value=email placeholder="Email Address"}}
        <i class="mail online icon"></i>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        {{input type="password" value=password placeholder="Password"}}
        <i class="lock icon"></i>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        {{input type="password" value=confirm placeholder="Confirm Password"}}
        <i class="lock icon"></i>
      </div>
    </div>
    {{input type="submit" class="fluid ui primary button" value="Create"}}
  </form>
</div>
