<div class="ui divided items">
  <div class="item">
    <div class="content">
      <a class="header">{{model.subject}}</a>
      <div class="description">
        {{model.description}}
      </div>
      <div class="extra">
        <div class="ui label"><i class="globe icon"></i> Global</div>
      </div>
    </div>
  </div>
</div>

{{chat-window class="chat-wrap" channel=model.id}}
