{{errorMessage}}
{{successMessage}}
<div class="ui form">
  <div class="field">
    <label>Title</label>
    {{input type="text" value=subject}}
  </div>
  <div class="field">
    <label>Description</label>
    {{textarea value=description}}
  </div>
  <div class="ui teal labeled icon button" {{action "create"}}>
    Create New Issue
    <i class="add icon"></i>
  </div>
</div>
