<div id="wrapper" class="ui vertical masthead aligned segment">
  {{header-bar}}
  <div class="container">
    {{#if session.isAuthenticated}}
      <div class="secondry-menu">
        {{left-bar}}
      </div>
      {{#if columns.isShowIssues}}
        <div class="secondry-menu">
          {{issue-list class="issue-list-wrap"}}
        </div>
      {{/if}}
      <div class="main">
        {{outlet}}
      </div>
    {{else}}
      {{outlet}}
    {{/if}}
  </div>
</div>