<div class="signin">
  {{#if errorMessage}}
    <div class="ui warning message">
      <i class="close icon"></i>
      {{errorMessage}}
    </div>
  {{/if}}
  <form class="ui form" method="post" {{action "authenticate" on="submit"}}>
    <div class="field">
      <div class="ui left icon input">
        {{input value=email placeholder="Email Address"}}
        <i class="mail online icon"></i>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        {{input value=password type="password" placeholder="Password"}}
        <i class="lock icon"></i>
      </div>
    </div>
    <button class="fluid ui primary button" type="submit">Sign in</button>
  </form>
</div>
